footer {
    height: 150px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    margin-top: 20px;
    align-content: center;
    padding-top: 10px;
    border: 1px solid #04d9ff;
    box-shadow: 0 0 20px 10px #04d9ff !important;
}

header {
    height: 150px;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    margin: 5px;
    margin-bottom: 20px;
    align-content: center;
    padding-top: 10px;
    border: 1px solid #04d9ff;
    box-shadow: 0 0 20px 10px #04d9ff !important;
}

main {
    min-height: 100vh;
}

.neon-blue-link:hover {
    text-shadow:
        0 0 5px var(--neon-blue), 0 0 10px var(--neon-blue);
    --bs-link-hover-color: white;
}

.profile-button:active:hover {
    background: #04d9ff;
    border: none;
    color: black;
    box-shadow: 0 0 5px #04d9ff, 0 0 25px #04d9ff, 0 0 50px #04d9ff, 0 0 200px #04d9ff !important;
}